<div class="container p-5">
  <form class="example-form text-center">
    <mat-form-field class="col-4">
      <mat-label>Buscar cliente...</mat-label>
      <input matInput type="search" (input)="search($event)" />
    </mat-form-field>
  </form>

  <div class="p-2 rounded-4 bg-table">
    <div class="demo-button-container m-2">
      <button mat-flat-button (click)="openDialog()">
        <mat-icon>add</mat-icon>
        Agregar cliente
      </button>
    </div>

    <mat-divider></mat-divider>

    <table mat-table [dataSource]="dataSource" matSort class="bg-table">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let subscriber">{{ subscriber.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let subscriber">
          {{ subscriber | userFullName }}
        </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let subscriber">{{ subscriber.email }}</td>
      </ng-container>

      <!-- Phone Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
        <td mat-cell *matCellDef="let subscriber">{{ subscriber.phone }}</td>
      </ng-container>

      <!-- Remaining Days Column -->
      <ng-container matColumnDef="remainingDays">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Días Restantes
        </th>
        <td
          mat-cell
          *matCellDef="let subscriber"
          [ngClass]="{
            'text-danger': subscriber.remainingDays <= 3,
            'text-warning': subscriber.remainingDays <= 7
          }"
        >
          {{ subscriber.remainingDays }}
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let subscriber">
          <button
            mat-icon-button
            class="m-1"
            (click)="goToDetail(subscriber.id)"
          >
            <mat-icon>visibility</mat-icon>
          </button>
          <button
            mat-icon-button
            class="m-1"
            (click)="openDialog(subscriber)"
            *ngIf="(isAdmin$ | async) == true"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            class="m-1"
            (click)="copySubscriber(subscriber)"
          >
            <mat-icon>content_copy</mat-icon>
          </button>
          <button
            mat-icon-button
            class="m-1"
            (click)="onDelete(subscriber.id)"
            *ngIf="(isAdmin$ | async) == true"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
