<h1 mat-dialog-title>Renovar suscripción</h1>

<div mat-dialog-content>
  <form [formGroup]="renovationForm">
    <div class="row">
      <mat-form-field class="col-6">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="firstName" type="text" />
      </mat-form-field>

      <mat-form-field class="col-6">
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="lastName" type="text" />
      </mat-form-field>
    </div>

    <mat-form-field class="col-12">
      <mat-label> Vencimiento </mat-label>
      <input matInput formControlName="subscriptionEndDate" [value]="subscriptionEndDate | date:'yyyy-MM-dd'"  (input)="updateDate($event)"  />
    </mat-form-field>

    <mat-form-field class="col-12">
      <mat-label>Días adicionales</mat-label>
      <mat-select formControlName="additionalDays">
        <mat-option
          *ngFor="let month of [1, 2, 3, 4, 5, 6, 12]"
          [value]="month"
        >
          {{ month }} mes(es)
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button (click)="onSave()" mat-button>Guardar</button>
  </div>
</div>
