<div
  class="my-auto justify-content-center"
  *ngIf="subscriber$ | async as subscriber; else loading"
>
  <div class="align-items-center d-flex gap-4 p-5 dCards">
    <div class="col-4">
      <div class="col-12">
        <mat-card class="col-12 p-5 m-auto">
          <div class="card-content m-auto text-center">
            <img
              src="https://picsum.photos/200"
              alt="`Avatar de {{subscriber.firstName}} {{subscriber.lastName}}`"
              srcset=""
            />
          </div>
        </mat-card>
      </div>
    </div>
    <mat-card class="col-6  p-5 bg-table">
      <div class="card-content d-inline" *ngIf="subscriber$ | async as subscriber">
        <div class="info-item">
          <mat-icon matListItemIcon>fingerprint</mat-icon>
          <div>
            <strong>ID</strong>
            <p>{{ subscriber._id }}</p>
          </div>
        </div>
        <div class="info-item">
          <mat-icon matListItemIcon>person</mat-icon>
          <div>
            <strong>Nombre</strong>
            <p>{{ subscriber.firstName }} {{ subscriber?.lastName }}</p>
          </div>
        </div>
        <div class="info-item">
          <mat-icon matListItemIcon>email</mat-icon>
          <div>
            <strong>Email</strong>
            <p>{{ subscriber.email }}</p>
          </div>
        </div>
      </div>
    </mat-card>
  </div>

  <ng-template #noStudents>
    <mat-card class="border rounded m-5 p-5 border-3">
      <div class="d-flex flex-column align-items-center">
        <p class="text-center">ESTE CLIENTE NO POSEE NINGUNA SUSCRIPCIÓN</p>
        <button
          mat-flat-button
          class="col-2 m-auto"
          routerLink="/dashboard/inscriptions"
        >
          Ir a Inscripciones
        </button>
      </div>
    </mat-card>
  </ng-template>
</div>

<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  <p class="text-center my-5">CARGANDO...</p>
</ng-template>
